# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.CumputeShaderSample.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\CumputeShaderSample\.idea\.idea.CumputeShaderSample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
